NODE_ENV = 'development'

DATABASE_DRIVER = 'MONGODB'

#MongoDB env variables
DB_NAME = ''
DB_URL = ''

#Local Auth env variables
JWT_SECRET = ''
JWT_EXPIRE_IN = '' #Default is 1 day
JWT_ALGORITHM = '' #Default is HS256
